.card {
    width: 300px;
    max-height: 400px;
    border: 1px solid grey;
    margin: 5px;
  }
.media {
    height: 120px
}
.buttons {
    flex-direction: row;
    justify-content: flex-end;
    height: 25px;
}
.description {
    overflow: auto;
    height: 75px;
}

.name {
    overflow: auto;
    height: 75px;
}